<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body data-spy="scroll" data-target="#main-nav" data-offset="80">

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    // Smooth scrolling for anchor links
    $(document).ready(function(){
      $('a[href^="#"]').on('click', function(e) {
        e.preventDefault();
        var target = $(this.getAttribute('href'));
        if(target.length) {
          $('html, body').stop().animate({ scrollTop: target.offset().top - 70 }, 600);
        }
      });
    });
  </script>
</body>

</html>
